@page
@model PetStay.Pages.Shared.Registro_de_serviciosModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Tipo de servicio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dato in Model.DatosLista)
        {
            <tr>
                <td>@dato.Nombre</td>
                <td>@dato.Cedula</td>
                <td>@dato.TipoDeServicio</td>
                <td><button type="button" class="btn btn-primary">Más detalles</button></td>
            </tr>
        }
    </tbody>
</table>