@page
@using Microsoft.AspNetCore.Http
@model PetStay.Pages.CrearPublicacionModel
@{
    ViewData["Title"] = "CrearPublicacion";
}
<form method="post" enctype="multipart/form-data">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div>
                <h1 style="color:#004879">Crear nueva publicación</h1>

                <div class="cont-formulario">
                    <div class="info-container">
                        <h2>Título</h2>
                        <input style="width: 130%" class="form-entry" required /><br>
                        <h3>Descripción</h3>
                        <textarea style="width: 185%;height: 150px;" class="form-entry" required> </textarea><br>
                        <h3>Contacto</h3>
                        <input style="width: 130%" class="form-entry" required /><br>
                    </div>
                    <div style="display: flex;flex-direction: column;justify-content: space-between;">
                        <div style="display: flex;justify-content: space-between;margin-top: 20px;">
                            <select name="TipoPublicacion" style="height: 50px;" class="filter" placeholder="filtrar publicaciones" id="filtro" required>
                                <option hidden selected value="">Tipo de publicación</option>
                                @if (HttpContext.Session.GetString("idTipoUsuario") == "2")
                                {
                                    <option value="Informacion">Información</option>
                                }
                                else
                                {
                                    <option value="Informacion">Información</option>
                                    <option value="servicio">Servicios</option>
                                }
                            </select>

                        </div>
                        <div class="container-subida">
                            <img src="@Url.Content("~/images/subir.svg")" />
                        </div>
                        <input id="file-upload" type="file" accept="image/png,image/jpeg" name="imagen" style="color: transparent; position:relative; top:-42px" required>
                        <span style="top: -120px;left: 158px;position: relative;" id="file-name"></span>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content: flex-end;margin-top: 50px;">
                <button class="btn-accept" name="onPostAsync">Crear publicación</button>
            </div>

        </div>
    </div>
</form>


<script>

    const fileInput = document.getElementById("file-upload");
    const fileName = document.getElementById("file-name");
    let file = null;

    fileInput.addEventListener("change", function () {
        file = fileInput.files[0];

        if (file && (file.type === "image/png" || file.type === "image/jpeg")) {
            fileName.textContent = "Imagen cargada: " + file.name;
            fileName.style.color = "green";
        } else if (file) {
            fileName.textContent = "El archivo seleccionado no es una imagen válida";
            fileName.style.color = "red";
        } else if (!file && fileName.textContent) {
            // Si no se selecciona una nueva imagen pero ya existe una imagen cargada,
            // se mantiene el texto actual.
            fileInput.value = null; // Limpiar el valor del input para que no se seleccione la imagen anterior al presionar Cancelar
        } else {
            fileName.textContent = "";
        }
    });
</script>



