@page
@model PetStay.Pages.CrearPublicacionModel
@{
    ViewData["Title"] = "CrearPublicacion";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div>


            <title>Detalles</title>
            <h1 style="color:#004879">Crear nueva publicación</h1>

            <div class="cont-formulario">
                <div class="info-container">
                    <h2>Título</h2>
                    <input style="width: 130%" class="form-entry" /><br>
                    <h3>Descripción</h3>
                    <textarea style="width: 185%;height: 150px;" class="form-entry"> </textarea><br>
                    <h3>Contacto</h2>
                    <input style="width: 130%" class="form-entry" /><br>
                </div>
                <div style="display: flex;flex-direction: column;justify-content: space-between;">
                    <div style="display: flex;justify-content: space-between;margin-top: 20px;">
                        <select style="height: 50px;" class="filter" placeholder="filtrar publicaciones" name="info" id="filtro">
                            <option hidden selected>Tipo de publicación</option>
                            <option value="Informacion"> Información</option>
                            <option value="servicio">Servicios</option>
                        </select>
                    </div>
                    <div class="container-subida">
                        <img src="@Url.Content("~/images/subir.svg")" />
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: flex-end;margin-top: 50px;">
            <button class="btn-accept">Crear publicación</button>
        </div>

    </div>
</div>