@page
@model PetStay.Pages.RegistroModel
@{
    ViewData["Title"] = "Registro";
    Layout = "LayoutLogin";

}

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            <form method="post" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <h1 style="color:#004879">Registro de usuario </h1>

                <h2>
                    Por favor proporciona los siguientes datos para poder realizar el registro.
                </h2>
                <div class="cont-formulario">
                    <img class="anuncio-img" src="~/images/petlogo.svg" />

                    <div style="display: flex;flex-direction: column;">
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Nombre</h3><br>
                            <input class="input100 form-entry" type="text" size="40" name="nombre" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <h3 style="font-size: 20px;">Apellidos </h3><br>
                            <input class="input100 form-entry" type="text" size="40" name="apellidos" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <h3 style="font-size: 20px;">Dirección de correo electrónico:</h3><br>
                            <input class=" input100 form-entry" type="text" size="40" name="correo" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                        <div class="wrap-input100 validate-input">
                            <h3 style="font-size: 20px;">Contraseña:</h3><br>
                            <input class=" input100 form-entry" type="password" size="40" name="contraseña" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                        <div class="wrap-input100 validate-input">
                            <h3 style="font-size: 20px;">Confirmar contraseña:</h3><br>
                            <input class=" input100 form-entry" type="password" size="40" name="contraseñaConfirmada" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                        <button style="align-self: center;" class="btn-accept">Registrar usuario</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Mostrar mensaje de error si existe
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage !== "") {
            // Crear un elemento div con el mensaje de error
            var errorDiv = document.createElement("div");
            errorDiv.className = "alert alert-danger";
            errorDiv.innerText = errorMessage;

            // Insertar el elemento div en la página
            var form = document.getElementsByTagName("form")[0];
            form.insertBefore(errorDiv, form.firstChild);

            // Restaurar los valores ingresados por el usuario
            var correo = '@TempData["Correo"]';
            var contraseña = '@TempData["Contraseña"]';
            document.getElementById("Correo").value = correo;
            document.getElementById("Contraseña").value = contraseña;
        }

        // Mostrar mensaje de éxito si existe
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage !== "") {
            // Crear un elemento div con el mensaje de éxito
            var successDiv = document.createElement("div");
            successDiv.className = "alert alert-success";
            successDiv.innerText = successMessage;

            // Insertar el elemento div en la página
            var form = document.getElementsByTagName("form")[0];
            form.insertBefore(successDiv, form.firstChild);
        }

    </script>
}