@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600");

.iniciar-sesion{
    align-items: center;
    background-color: #e6f4f1;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 98px;
    height: 867.22px;
    width: 1561px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.group-1{
    height: 105px;
    width: 1561px;
}

.flex-row{
    align-items: flex-end;
    display: flex;
    gap: 267px;
    height: 583px;
    margin-right: 120px;
    min-width: 1275px;
}

.group-3{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 583px;
    width: 545px;
}

.inicio-de-sesin{
    position: absolute;
    width: 531px;
    height: 92px;
    left: 813px;
    top: 203px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;

    color: #004879;
}

.direccion-de-correo-electronico{
    position: absolute;
    width: 491px;
    height: 31px;
    left: 813px;
    top: 348px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.overlap-group{
    height: 34px;
    margin-top: 15px;
    position: relative;
    width: 491px;
}

.ejemplo-juanpereze{
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 300;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    top: 6px;
    width: 465px;
}

.iniciar-sesion .rectangle{
    border-radius: 20px;
    left: 0;
    position: absolute;
    top: 0;
}

.rectangle-36{
    background-color: var(--alto);
    height: 31px;
    width: 491px;
}

.overlap-group3{
    align-items: flex-start;
    align-self: center;
    background-color: var(--congress-blue);
    border-radius: 20px;
    display: flex;
    margin-right: 54px;
    margin-top: 30px;
    min-width: 406px;
    padding: 11.3px 28px;
}

.registrar-usuario{
    letter-spacing: 0;
    line-height: normal;
    min-height: 43px;
    text-align: center;
    width: 350px;
}

.overlap-group1{
    align-items: flex-end;
    background-color: var(--alto);
    border-radius: 20px;
    display: flex;
    height: 31px;
    justify-content: flex-end;
    margin-top: 30px;
    min-width: 491px;
    padding: 6.8px 12.1px;
}

.image-button {
    background-image: url("{{url_for('static', filename='images/Group 1.png')}}");
    position: absolute;
    width: 50.99px;
    height: 50.4px;
    left: 1263.9px;
    top: 535.98px;
    z-index: 2;
  }








.x309113-1 {
    height: 419px;
    margin-bottom: 24.64px;
    width: 463px;
}




.correo-electronico{
    position: absolute;
    width: 491px;
    height: 31px;
    left: 813px;
    top: 348px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.contrasenia{
    position: absolute;
    width: 354.06px;
    height: 30.26px;
    left: 813px;
    top: 468.64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.boton-iniciar-sesion{
    position: absolute;
    width: 406.27px;
    height: 65.82px;
    left: 855.37px;
    top: 623.73px;

    background: #004879;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color:white
}

.boton-registrar-usuario{
    position: absolute;
    width: 406.27px;
    height: 65.82px;
    left: 855.37px;
    top: 719.82px;

    background: #004879;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #FFFFFF;
}

.form-input[type="email"] {
    position: absolute;
    width: 491px;
    height: 31.02px;
    left: 813px;
    top: 393.74px;

    background: #D9D9D9;
    border-radius: 20px;
}

.form-input[type="password"] {
    position: absolute;
    width: 491px;
    height: 31.02px;
    left: 813px;
    top: 529.17px;
    background: #D9D9D9;
    border-radius: 20px;
  }