/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



.top-nav-bar{
  background-color: #399197;
  border-radius: 0 0 10px 10px
}

.cont-formulario{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn-accept {
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: #004879;
  -webkit-text-fill-color: white;
}

.box-credenciales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error{
  color: red;
  font-size: 22px;
}

.login-entry {
  background-color: #0048791c;
  border-radius: 10px;
  font-size: 24px;
  width: 395px; 
}

.form-entry {
  border-radius: 10px;
  font-size: 22px;
}
.cubi-nav-bar{
  background-color: #299CCB;
  border-radius: 0 0 10px 10px
}

.bar-text {
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 25px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 40px
}

.search-bar{
  border-radius: 18px;
  padding: 5px;
  max-width: 305px;
  margin-top: 50px;
}

.filter {
  background-color: #00497902;
  border-radius: 10px;
  font-size: 24px;
  width: 240px;
  color: #004879; 
}

.anuncio-container {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 6px 12px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.anuncio-header {
  height: 60px;
  background: #C94938;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;

}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.btn-masinfo {
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
  border: 1px solid #000000;
  
}
.btn-masinfo:hover {
  color: #fff;
  background-color: #399197;
}
.container-subida {
  width: 264px;
  height: 150px;
  border: 2px dashed #000000;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  align-self: self-end;
  border-radius: 10px;
}
.subida-formulario {
  height: 150px;
  border: 2px dashed #000000;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 40px;

}