<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class ="iniciar-sesion screen">
        <img class="group-1" src="{{url_for('static', filename='images/Group 1.png')}}" alt="Group 1"/>
        <div class="flex-row">
            <img class="x309113-1" src="{{url_for('static', filename='images/309113 1-1.svg')}}" alt="309113 1"/>
            <div class="group-3">
                <h1 class="inicio-de-sesin">Inicio de sesión</h1>
                <div class="direccion-de-correo-electronico montserrat-light-bñack-28px">Dirección de correo electrónico:</div>
                
                <div class="overlap-group">
                    <div class="rectangle-36 rectangle"></div>
                    <input type="email" class="form-input" name="email">
                    <div class="ejemplo-juanpereze">Ejemplo: juanperez@estudiantec.cr / itcr.ac.cr</div>
                </div>
                <div class="contrasenia montserrat-light-black-28ox">Contraseña:</div>
                <input type="password" class="form-input" name="password">
                <div class="overlap-group1">
                    <img class="image-1" src="image-1.png" alt="image 1"/>
                </div>
                <div class="overlap-group2">
                    <div class="rectangle-38 rectangle"></div>
                    <div class="iniciar-sesin montserrat-medium-white-40px">Iniciar sesión</div>
                    <div class="iniciar-sesin montserrat-medium-white-40px">Iniciar sesión</div>
                </div>
                <div class="overlap-group3">
                    <div class="registrar-usuario montserrat-medoum-white-40px">Registrar usuario</div>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>